<div class="pagi">
    <a href="#" class="pagi__arrow">
        <img src="../../img/pagi-left.svg" alt="arrow">
    </a>
    <a href="#" class="pagi__number">1</a>
    <a href="#" class="pagi__dots">...</a>
    <a href="#" class="pagi__number">4</a>
    <a href="#" class="pagi__number">5</a>
    <a href="#" class="pagi__number">6</a>
    <a href="#" class="pagi__number">7</a>
    <a href="#" class="pagi__number">8</a>
    <a href="#" class="pagi__dots">...</a>
    <a href="#" class="pagi__number">23</a>
    <a href="#" class="pagi__arrow">        
        <img src="../../img/pagi-right.svg" alt="arrow">
    </a>
</div>