                    <div class="phone">
                        <span class="work__time">Ежедневно с 09.00 до 22.00</span>
                        <a href="tel:+73852633253" class="phone__number">
                            <object
                                type="image/svg+xml"
                                data="../images/phone.svg">
                                <img src="../images/phone.svg">
                            </object>
                            <span>
                                +7 3852 633 253
                            </span>
                        </a>
                    </div>