@charset "UTF-8";

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat Thin"), local("Akrobat-Thin"), url("../fonts/Akrobatthin.woff2") format("woff2"), url("../fonts/Akrobatthin.woff") format("woff"), url("../fonts/Akrobatthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat ExtraLight"), local("Akrobat-ExtraLight"), url("../fonts/Akrobatextralight.woff2") format("woff2"), url("../fonts/Akrobatextralight.woff") format("woff"), url("../fonts/Akrobatextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat Light"), local("Akrobat-Light"), url("../fonts/Akrobatlight.woff2") format("woff2"), url("../fonts/Akrobatlight.woff") format("woff"), url("../fonts/Akrobatlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat"), local("Akrobat-Regular"), url("../fonts/Akrobat.woff2") format("woff2"), url("../fonts/Akrobat.woff") format("woff"), url("../fonts/Akrobat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"), url("../fonts/Akrobatsemibold.woff2") format("woff2"), url("../fonts/Akrobatsemibold.woff") format("woff"), url("../fonts/Akrobatsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url("../fonts/Akrobatbold.woff2") format("woff2"), url("../fonts/Akrobatbold.woff") format("woff"), url("../fonts/Akrobatbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"), url("../fonts/Akrobatextrabold.woff2") format("woff2"), url("../fonts/Akrobatextrabold.woff") format("woff"), url("../fonts/Akrobatextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat Black"), local("Akrobat-Black"), url("../fonts/Akrobatblack.woff2") format("woff2"), url("../fonts/Akrobatblack.woff") format("woff"), url("../fonts/Akrobatblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local("Muller Extra Bold"), local("Muller-Extra-Bold"), url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* ----------------------------------- Спецификация ---------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* ------- Переменные для стилей  ---------- */
  /* Цвета сайта */
  --color-text: #202323;
  --colot-bg: #FFF9F3;
  --color-green: #6E9E48;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #FFA11B;
  /* Размер шрифта */
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-23: 23px;
  --font-size-55: 55px;
  /* Жирности шрифта */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-boldextra: 800;
  --font-weight-black: 900;
  /* Border radius */
  --border-radius-3: 3px;
}

body,
select,
input {
  font-family: 'Akrobat';
  font-weight: var(--font-weight-regular);
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  display: block;
}

/* Menu category start */

.menu__category li a {
  display: inline-block;
}

.menu__category li a:hover {
  background: #575757;
}

/* Menu category end */

/* ------- Главная страница ----------- */

/* Header start */

/* Top menu start */

.header {
  background: var(--colot-bg);
}

.top-panel {
  background: var(--color-white);
  padding: 18px 0;
}

.top-panel .search {
  margin-right: 25px;
}

.top-panel .phone {
  margin-right: 11px;
}

.top-panel .logo {
  margin-right: 28px;
}

.top-panel__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*  Navigation start */

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: var(--font-size-18);
  color: var(--color-text);
}

.navigation a {
  color: var(--color-text);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  padding: 0 17px;
}

.menu li:last-child a {
  color: var(--color-orange);
  font-weight: var(--font-weight-bold);
}

.menu li a {
  color: var(--color-black);
}

.menu li select {
  border: 0;
  color: var(--color-orange);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}

/* Navigation end */

/* Modal btn start */

.btn__modal {
  padding: 0 47px;
}

.btn__modal span {
  margin-left: 7px;
}

/* Modal btn end */

/* Authentification start */

.auth a {
  font-weight: var(--font-weight-bold);
  padding: 5px 5px 5px 0;
}

.auth a:last-child {
  padding-left: 8px;
}

.auth a object {
  margin-right: 7px;
}

.auth__reg {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* Authentification end */

/* Search start */

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__btn {
  border: 0;
  background: transparent;
  position: absolute;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.search input {
  height: 55px;
  width: 600px;
  background: #EAEAEA;
  border: 1px solid transparent;
  padding-left: 50px;
  border-radius: 0 var(--border-radius-3) var(--border-radius-3) 0;
  font-size: var(--font-size-18);
  color: var(--color-text);
}

.search input:focus {
  outline: var(--color-orange);
  border: 1px solid var(--color-orange);
}

/* Search end */

/* Phone start */

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.phone .work__time {
  color: #575757;
  font-size: var(--font-size-13);
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}

.phone a {
  font-size: var(--font-size-23);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05em;
}

/* Phone end */

/* Menu dropdown start */

.menu__dropdown {
  cursor: pointer;
}

.menu__dropdown-btn {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  background: var(--color-orange);
  text-transform: uppercase;
  width: 241px;
  height: 55px;
  border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__dropdown .menu__category {
  display: none;
}

/* Menu dropdown end */

/* Cart start */

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  width: 164px;
  height: 55px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  border: 2px solid var(--color-orange);
  border-radius: var(--border-radius-3);
}

.cart:hover {
  background: var(--color-orange);
  color: var(--color-white);
}

.cart__icon {
  position: relative;
  margin-right: 18px;
  margin-left: 13px;
  padding-top: 8px;
}

.cart__icon span {
  width: 17px;
  height: 17px;
  background: #6E9E48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 11px;
  color: #ffffff;
  position: absolute;
  top: 1px;
  left: 13px;
}

/* Cart end */

/* Sidebar with main banner start */

/* Sidebar start */

.sidebar {
  background: var(--color-white);
}

.sidebar a {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-20);
  color: var(--color-text);
  text-transform: uppercase;
}

.sidebar__submenu {
  display: none;
}

/* Sidebar end */

/* Main banner start */

/* Main banner end */

/* Sidebar with main banner end */

/* Header end */