@media (max-width: 1675px) {
   .top-panel {
        &.active {

            .navigation {
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            & .phone {
                margin: 0px 15px 0 15px;
            }
            .cart {
                margin-left: 0;
            }
        }
        &__flex {
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        & .logo  {
            picture, img {
                width: 100%;
            }
        }
        .menu__dropdown .menu__category {
            top: 65px;
        }
        .city.custom-select {
            margin-top: -10px;
        }

    }
    .menu__category li a {
        width: 380px;
    }
    .navigation {
        width: 100%;
        -webkit-box-align: unset;
        -webkit-align-items: unset;
           -moz-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset;

        select {
            margin-bottom: 15px;
        }
    }
    .filters {
        width: 21%;
    }
    .catalog-body {
        width: 79%;
    }
    .footer {

        .logo {
            width: 280px;

            picture, img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 1595px) {
    .top-panel {
        &.active {

            & a {
                font-size: var(--font-size-20);
            }
            & .phone {
                margin: 0;
            }
            & .cart {
                width: 140px;
                height: 50px;            
            }
        }
    }
    .menu li {
        padding: 0 5px;
    }
    .search input {
        width: 450px;
    }
    .menu__dropdown {

        & .menu__category {
            width: 1070px;

            & li a {
                width: 265px;
                padding-left: 20px;
            }
        }
    }
    .footer {

        &__menu {

            .menu li {
                padding: 0 30px;
            }
        }
    }
}
@media (max-width: 1440px) {
    .top-panel {
        .navigation {
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .logo {
            width: 29%;
            margin-right: 15px;
        }
        .menu__dropdown-btn {
            width: 200px;
            font-size: var(--font-size-14);
            ;
        }
        .search {

            &__input {
                height: 100%;
                width: 330px;
            }
        }
        & a {
            font-size: var(--font-size-16);
        }
        .menu__category {
            width: 880px;

            &_img {
                width: 65px;
            }
            & li a  {
                width: 220px;
                height: 135px;
                font-size: var(--font-size-18);
                padding-left: 10px;

            }
            &.active {
                top: 63px;
            }
        }
        .auth {

            &__enter {
                padding-right: 5px;
            }
            &__reg {
                padding-left: 5px;
                padding-right: 0;
            }
            .user-img {
                margin-right: 3px;
            }
        }
        .cart,  .menu__dropdown-btn, .search {
            height: 45px;
        }
        .city.custom-select {
            width: 125px;
            font-size: var(--font-size-16);
            margin-top: -15px;
        }
        .btn__modal {
            padding: 0 5px;
        }

        &.active {

            .logo {
                width: 240px;
            }
            .menu li {
                padding: 0 5px;
            }
            .phone a {
                font-size: 22px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            & a {
                font-size: var(--font-size-16);
            }
        }
    }
    .footer {
        &__menu {

            .menu li {
                padding: 0 10px;
            }
        }
    }
}
// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
    .container {
        padding: 0 15px;
    }
    .top-panel {
        .menu__category {
            width: 780px;

            & li a  {
                width: 195px;
                height: 120px;
                font-size: var(--font-size-14);
            }
        }
        .logo {
            width: 21%;
        }
        a {
            font-size: var(--font-size-14);
        }
        .city.custom-select {
            width: 110px;
            font-size: var(--font-size-14);
        }
        & .search {

            &__input {
                width: 245px;
            }
        }
        &.active {
            .phone a {
                font-size: 18px;
            }
            a {
                font-size: var(--font-size-14);
            }
            .cart {
                font-size: var(--font-size-18);
                width: 125px;
                height: 45px;
                &__icon {
                    margin-left: 0;
                }
            }
            .logo {
                width: 200px;
            }
        }
    }
    
    .footer {
        & .logo {
            width: 20%;
        }
        &__menu {

            .menu li {
                
                
                a {
                    font-size: var(--font-size-14);
                }
            }
            .menu:last-child {
                display: none;
            }
        }
        .social {
            
            padding-top: 3px;

            &__link {
                width: 40px;
                height: 40px;
            }
        }
    }
}
// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px) {
    .top-panel {
        .menu__dropdown,
        .search,
        .custom-select.city,
        .btn__modal,
        .auth,
        .cart__name {
            display: none;
        }
        .logo {
            width: 29%;
        }
        .menu {
            margin-bottom: 0;

            .btn__modal,
            .auth {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0;
            }
        }
        .phone {
            display: none;

            &-drop {
                display: block;
                position: relative;
            }
            &-btn {
                outline: 0;
                border: 0;
                width: 35px;
                height: 35px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                background: var(--color-2);
                -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                        border-radius: 50%;
                        svg {
                            fill: #ffffff;
                            width: 15px;
                            height: 15px;
                        }
                .phone__svg-close {
                    display: none;
                }
                &.active {
                    .phone__svg-open {
                        display: none;
                    }
                    .phone__svg-close {
                        display: block;
                    }
                }
            }
        }
        .phones-mobile {
            
            width: 100%;
            display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            position: absolute;
            right: 0;
            background: #ffffff;
            width: 300px;
            top: 100%;
            padding: 50px 20px;
            &.active {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
            }
            .phone {
                width: 100%;  
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .work__time {
                    font-size: var(--font-size-14);
                    display: block;
                }
                a {
                    font-size: var(--font-size-35);
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
        .cart {
            border: 0;
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: 15px;
            &:hover {
                background: transparent;
            }
        }
        &.active {
            .navigation {
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                   -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }
            .phone-drop {
                -webkit-box-ordinal-group: 2;
                -webkit-order: 1;
                   -moz-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
            }
            .cart {
                background: transparent;
                width: auto;
                height: auto;
                margin-left: auto;
                svg path {
                    fill: var(--color-2);
                }
            }
        }
    }
    .footer {
        & .logo {
            width: 27%;
        }
    }
}
// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    .top-panel {
        .logo {
            width: 100%;
        }
        .menu {
            width: 300px;
            position: absolute; 
            margin-left: auto;
            visibility: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            top: 100%;
            right: 0%;
            background: #ffff;
            padding: 30px 50px 20px;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;
            -webkit-transform: translate(0,-100%);
               -moz-transform: translate(0,-100%);
                -ms-transform: translate(0,-100%);
                 -o-transform: translate(0,-100%);
                    transform: translate(0,-100%);
            z-index: -1;

            & li {
                margin-bottom: 20px;
            }
            &.active {
                visibility: visible;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                -moz-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-transform: translate(0, 0);
                   -moz-transform: translate(0, 0);
                    -ms-transform: translate(0, 0);
                     -o-transform: translate(0, 0);
                        transform: translate(0, 0);
            }
        }
        .com-prop {
            margin-top: 25px;
            background: var(--color-22);
            width: 100%;
            height: 50px;
            color: #ffffff!important;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-transform: uppercase;
        }
        .menu__burger {
            display: block;
            background: transparent;
            border: 0;
            outline: none;
            margin-left: auto;
            margin-right: 10px;
        }
        .cart {
            margin-right: 10px;
            margin-left: unset;
        }
        &.active {

            .cart {
                margin-left: 10px;
            }
        }
    }
    .footer {
        &__top,
        &__bottom {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        &__menu {
            -webkit-box-ordinal-group: 0;
            -webkit-order: -1;
               -moz-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1;
        }
        .logo {
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
               -moz-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
        }
        .contacts {
            width: 53%;
            margin-bottom: 15px;

            &__top {
                border: 0;
                padding-bottom: 10px;
            }
        }
    }
}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
    .top-panel {
        .cart,
        .menu__burger {
            margin-right: 5px;
        }
    }
}
