@media (max-width: 1675px) {
   .top-panel {
        &.active {

            .navigation {
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            & .phone {
                margin: 0px 15px 0 15px;
            }
            .cart {
                margin-left: 0;
            }
        }
        &__flex {
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        & .logo  {
            picture, img {
                width: 100%;
            }
        }
        .menu__dropdown .menu__category {
            top: 65px;
        }
        .city.custom-select {
            margin-top: -10px;
        }

    }
    .menu__category  {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        &_img {
            width: 70px;
        }
        li a {
            width: 380px;
        }
    }
    .navigation {
        width: 100%;
        -webkit-box-align: unset;
        -webkit-align-items: unset;
           -moz-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset;

        select {
            margin-bottom: 15px;
        }
    }
    .filters {
        width: 21%;
    }
    .catalog-body {
        width: 79%;
    }
    .footer {

        .logo {
            width: 280px;
            margin: 25px 0;
            picture, img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 1670px) {
    .reviews-page {
        .flex-card {

            &__wrapper {

                &_name,
                &_desc {
                    padding-left: 20px;
                }
            }
            .flex-card {
                &__img {
                   width: 85%;
                }
            }
        }
    }
    .flex-card {
        width: 23%;
        &:not(:nth-child(4n)){
            margin-right: 27px;
        } 
    }
}
@media (max-width: 1595px) {
    .top-panel {
        &.active {

            & a {
                font-size: var(--font-size-20);
            }
            & .phone {
                margin: 0;
            }
            & .cart {
                width: 140px;
                height: 50px;            
            }
        }
    }
    .menu li {
        padding: 0 5px;
    }
    .search input {
        width: 450px;
    }
    .menu__dropdown {

        & .menu__category {
            width: 1070px;

            & li a {
                width: 265px;
                padding-left: 20px;
            }
        }
    }
    .footer {

        &__menu {

            .menu li {
                padding: 0 30px;
            }
        }
    }
}
@media (max-width: 1440px) {
    .top-panel {
        .navigation {
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .logo {
            width: 29%;
            margin-right: 15px;
        }
        .menu__dropdown-btn {
            width: 200px;
            font-size: var(--font-size-14);
            ;
        }
        .search {

            &__input {
                height: 100%;
                width: 330px;
            }
        }
        & a {
            font-size: var(--font-size-16);
        }
        .menu__category {
            width: 880px;

            &_img {
                width: 65px;
            }
            & li a  {
                width: 220px;
                height: 135px;
                font-size: var(--font-size-18);
                padding-left: 10px;

            }
            &.active {
                top: 63px;
            }
        }
        .auth {

            &__enter {
                padding-right: 5px;
            }
            &__reg {
                padding-left: 5px;
                padding-right: 0;
            }
            .user-img {
                margin-right: 3px;
            }
        }
        .cart,  .menu__dropdown-btn, .search {
            height: 45px;
        }
        .city.custom-select {
            width: 125px;
            font-size: var(--font-size-16);
            margin-top: -15px;
        }
        .btn__modal {
            padding: 0 5px;
        }

        &.active {

            .logo {
                width: 240px;
            }
            .menu li {
                padding: 0 5px;
            }
            .phone a {
                font-size: 22px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            & a {
                font-size: var(--font-size-16);
            }
        }
    }
    .reviews-page {
        .flex-card {
            width: 57%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .reviews-doc img {
            -o-object-fit: contain;
               object-fit: contain;
        }
        .reviews-grid {
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
               -moz-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }
    }
    .popular__item {
        padding: 25px 20px 40px;
        &_img {
            height: auto;
        }
    }
    .footer {
        &__menu {

            .menu li {
                padding: 0 10px;
            }
        }
    }
}
// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
    .container {
        padding: 0 15px;
    }
    .top-panel {
        .menu__category {
            width: 780px;

            & li a  {
                width: 195px;
                height: 120px;
                font-size: var(--font-size-14);
            }
        }
        .logo {
            width: 21%;
        }
        a {
            font-size: var(--font-size-14);
        }
        .city.custom-select {
            width: 110px;
            font-size: var(--font-size-14);
        }
        & .search {

            &__input {
                width: 245px;
            }
        }
        &.active {
            .phone a {
                font-size: 18px;
            }
            a {
                font-size: var(--font-size-14);
            }
            .cart {
                font-size: var(--font-size-18);
                width: 125px;
                height: 45px;
                &__icon {
                    margin-left: 0;
                }
            }
            .logo {
                width: 200px;
            }
        }
    }
    .flex-card {
        width: 31%;
        &:not(:nth-child(4n)) {
            margin-right: 0;
        }
        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }
    }
    .footer {
        & .logo {
            width: 20%;
        }
        &__menu {

            .menu  {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                li {
                    a {
                        font-size: var(--font-size-14);
                    }
                }
            }
            .menu:last-child {
                display: none;
            }
        }
        .social {
            
            padding-top: 3px;

            &__link {
                width: 40px;
                height: 40px;
            }
        }
    }
}
// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px) {
    .top-panel {
        .menu__dropdown,
        .search,
        .custom-select.city,
        .btn__modal,
        .auth,
        .cart__name {
            display: none;
        }
        .logo {
            width: 29%;
        }
        .menu {
            margin-bottom: 0;

            .btn__modal,
            .auth {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0;
            }
        }
        .phone {
            display: none;

            &-drop {
                display: block;
                position: relative;
            }
            &-btn {
                outline: 0;
                border: 0;
                width: 35px;
                height: 35px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                background: var(--color-2);
                -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                        border-radius: 50%;
                        svg {
                            fill: #ffffff;
                            width: 15px;
                            height: 15px;
                        }
                .phone__svg-close {
                    display: none;
                }
                &.active {
                    .phone__svg-open {
                        display: none;
                    }
                    .phone__svg-close {
                        display: block;
                    }
                }
            }
        }
        .phones-mobile {
            
            width: 100%;
            display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            position: absolute;
            right: 0;
            background: #ffffff;
            width: 300px;
            top: 100%;
            padding: 50px 20px;
            &.active {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
            }
            .phone {
                width: 100%;  
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .work__time {
                    font-size: var(--font-size-14);
                    display: block;
                }
                a {
                    font-size: var(--font-size-35);
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
        .cart {
            border: 0;
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: 15px;
            &:hover {
                background: transparent;
            }
        }
        &.active {
            .navigation {
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                   -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }
            .phone-drop {
                -webkit-box-ordinal-group: 2;
                -webkit-order: 1;
                   -moz-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
            }
            .cart {
                background: transparent;
                width: auto;
                height: auto;
                margin-left: auto;
                svg path {
                    fill: var(--color-2);
                }
            }
        }
    }
    .flex-card {
        width: 49%;
        &:not(:nth-child(3n)) {
            margin-right: 0;
        }
        &:not(:nth-child(2n)) {
            margin-right: 13px;
        }
    }
    .popular {
        .slick-next, .slick-prev {
            top: 200px;
            background: transparent;
            height: auto;
            width: auto;
            z-index: 9999;
            &:before {
                color: #f1981a;
            } 
        }
        .slick-prev {
            left: 0;
        }
    }
    .subscribe__form {
        width: 90%;
    }
    .footer {
        & .logo {
            width: 27%;
        }
    }
}
// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    .top-panel {
        .logo {
            width: 100%;
        }
        .menu {
            width: 300px;
            position: absolute; 
            margin-left: auto;
            visibility: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            top: 100%;
            right: 0%;
            background: #ffff;
            padding: 30px 50px 20px;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;
            -webkit-transform: translate(0,-100%);
               -moz-transform: translate(0,-100%);
                -ms-transform: translate(0,-100%);
                 -o-transform: translate(0,-100%);
                    transform: translate(0,-100%);
            z-index: -1;

            & li {
                margin-bottom: 20px;
            }
            &.active {
                visibility: visible;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                -moz-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-transform: translate(0, 0);
                   -moz-transform: translate(0, 0);
                    -ms-transform: translate(0, 0);
                     -o-transform: translate(0, 0);
                        transform: translate(0, 0);
            }
        }
        .com-prop {
            margin-top: 25px;
            background: var(--color-22);
            width: 100%;
            height: 50px;
            color: #ffffff!important;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-transform: uppercase;
        }
        .menu__burger {
            display: block;
            background: transparent;
            border: 0;
            outline: none;
            margin-left: auto;
            margin-right: 10px;
        }
        .cart {
            margin-right: 10px;
            margin-left: unset;
        }
        &.active {

            .cart {
                margin-left: 10px;
            }
        }
    }
    .section_title {
        text-align: center;
    }
    .flex-card:not(:nth-child(2n)) {
        margin-right: auto;
    }
    .reviews-grid {
        margin-bottom: 0;
        .slick-next, 
        .slick-prev {
            top: 27%;
            z-index: 9999999999;
            background: transparent;
            border: 0;
            height: auto;
            width: auto;
            &:before,
            &:after {
                color: #ffa11b;
            }
        }
        .slick-prev {
            left: -15px;
        }
        .slick-next {
            right: -15px;
        }
        .slick-disabled:before,
        .slick-disabled:after {
            color: #ffa11b;
            opacity: 1!important;
        }
    }
    .info-page {
        .more__btn,
        .pagi {
            display: none;
        }
    }
    .footer {
        &__top,
        &__bottom {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            p, a {
                margin: 0;
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
        &__menu {
            -webkit-box-ordinal-group: 0;
            -webkit-order: -1;
               -moz-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1;
        }
        .logo {
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
               -moz-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
        }
        .contacts {
            width: 53%;
            margin-bottom: 15px;

            &__top {
                border: 0;
                padding-bottom: 10px;
            }
        }
        .supBtn {
            display: -webkit-box;   
            display: -webkit-flex;   
            display: -moz-box;   
            display: -ms-flexbox;   
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-right: 22px;
            font-size: var(--font-size-12);
            font-weight: var(--font-weight-semibold);
            margin: 20px auto;

            & picture {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                margin-right: 5px;
                width: auto;
            }
        } 
    }
}
@media (max-width: 650px) {
    .popular {
            
        &__item:not(:last-child) {
            margin-right: 0;
        }
    }
}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
    .top-panel {
        .cart,
        .menu__burger {
            margin-right: 5px;
        }
    }
    .flex-card {
        &__wrapper {
            padding: 35px 30px 20px;
            position: relative;
            h4 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
            &_name,
            &_desc {
                position: absolute;
                color: #fff!important;
            }
            &_name {
                top: -115px;
            }
            &_desc {
                top: -60px;
            }
            .date {
                position: absolute;
                top: -140px;
                color: #fff!important;
            }
            a {
                margin: 0 auto;
            }
        }
    }
    .subscribe {
        &__title {
            font-size: 28px;
        }
        &__text{
            font-size: 14px;
            line-height: 2em;
        }
        &__form {
            width: 100%;   
            &_block {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }   
            &_label {
                width: 100%;
            }  
            &_btn {
                width: 100%;
                height: 50px;
                margin: 10px 0 0;
            }   
            &_desc {
                -webkit-box-align: end;
                -webkit-align-items: end;
                   -moz-box-align: end;
                    -ms-flex-align: end;
                        align-items: end;
                text-align: left;
                p {
                    font-size: 10px;
                }
            } 
        }

    }
    .menu__category {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        &_img {
            height: 90px;
            margin-right: 20px;
            width: 50px;
        }
        li a {
            width: 100%;
            height: auto;
            border: 0;
            border-bottom: 1px solid #ffffff;
            font-size: 18px;
            padding-left: 10px;
            br {
                display: none;
            }
        }
    }
    .error__page  {
        h1 {
            font-size: 115px;
        }
        p {
            font-size: 12px;
        }
    }
    .footer {
        .logo {
            width: 85%;
        }
        .contacts {
            width: 90%;
        }
        .social  {
            width: 100%;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            &__network {
                -webkit-justify-content: space-around;
                    -ms-flex-pack: distribute;
                        justify-content: space-around;
            }
            .btn {
                margin: 0 auto;
            }
        }
    }
}
