@media (max-width: 1675px) {
   .top-panel {
        &.active {

            .navigation {
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            & .phone {
                margin: 0px 15px 0 15px;
            }
            .cart {
                margin-left: 0;
            }
        }
        &__flex {
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        & .logo  {
            picture, img {
                width: 100%;
            }
        }
        .menu__dropdown .menu__category {
            top: 65px;
        }

    }
    .menu__category li a {
        width: 380px;
    }
    .navigation {
        width: 100%;
        -webkit-box-align: unset;
        -webkit-align-items: unset;
           -moz-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset;

        select {
            margin-bottom: 15px;
        }
    }
    .filters {
        width: 21%;
    }
    .catalog-body {
        width: 79%;
    }
    .footer {

        .logo {
            width: 280px;

            picture, img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 1585px) {
    .top-panel {
        &.active {

            & a {
                font-size: var(--font-size-20);
            }
            & .phone {
                margin: 0;
            }
            & .cart {
                width: 140px;
                height: 50px;            
            }
        }
    }
    .menu li {
        padding: 0 5px;
    }
    .search input {
        width: 450px;
    }
    .menu__dropdown {

        & .menu__category {
            width: 1070px;

            & li a {
                width: 265px;
                padding-left: 20px;
            }
        }
    }
}
