@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "./fonts.scss";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

/* ----------------------------------- Спецификация ---------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
:root {
    /* ------- Переменные для стилей  ---------- */
    /* Цвета сайта */
    
    --color-1: #202323;
    --color-2: #6E9E48;
    --color-3: #FF842A;
    --color-4: #3384B1;
    --color-5: #C94044;
    --color-6: #CE7A39;
    --color-7: #ffffff;
    --color-22: #FFA11B;
    --color-black: #000000;
    --colot-bg: #FFF9F3;
    
    /* Размер шрифта */
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-23: 23px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-45: 45px;
    --font-size-55: 55px;

    /* Жирности шрифта */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* Border radius */
    --border-radius-3: 3px;

    /* Letter spacing */
    --ls-main : 0.05em;
    --ls-02 : 0.02em;
    --ls-2 : 0.2em;
};
/* ANCHOR Основные стили */
/* Основные стили */
body {
    background: var(--colot-bg);
    font-family: 'Akrobat';
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-16);
    position: relative;
}

select,
input,
button {
    font-family: 'Akrobat';
    font-weight: var(--font-weight-regular);
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
} 

a {
    text-decoration: none;
    color: var(--color-1);
}

object {
    pointer-events: none;
}

h2 {
    font-size: var(--font-size-55);
    font-weight: var(--font-weight-extrabold);
    letter-spacing: var(--ls-02);
    text-transform: uppercase;
}
h3 {
    font-size: var(--font-size-45);
    font-weight: var(--font-weight-black);
    letter-spacing: var(--ls-02);
    text-transform: uppercase;
}
/* Стили повторяющегося контента */
/* ANCHOR Стили повторяющегося контента */
.header {
    position: relative;
    z-index: 9999999;
}
.overlay__menu {
    display: none;
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;

    &.active {
        display: block;
    }
}
.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.active {
    display: block;
}

.blur {

    & picture,
    img {
        -webkit-filter: blur(8px);
                filter: blur(8px);
    }
}

.flag,
.btn {
    background: var(--color-22);
    font-weight: var(--font-weight-bold);
    color: var(--color-7);
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.no-foto {
    background: url('../img/no-foto.png') no-repeat 50% 50%;  
    -webkit-background-size: contain;  
       -moz-background-size: contain;  
            background-size: contain;
}

.ttu {
    text-transform: uppercase;
}

.bg-white {
    background: var(--color-7);
}
select {
    border: 0;
    color: var(--color-22);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-regular);
    background: transparent;
    cursor: pointer;
}


/*ANCHOR Menu category start */
.menu__category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    &_img {
        width: 130px;
        margin-right: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

                & object {
                    pointer-events: none;
                }
    }

    & li {

        a {
            background: transparent; 
            width: 400px;
            height: 186px;
            border: 1px solid #ffffff;
            font-size: var(--font-size-25);
            font-weight: var(--font-weight-bold);
            color: var(--color-1);
            padding-left: 35px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            
            &:hover {
                color: var(--color-7);
            }
        }
    }
}
/* Menu category end */
/*ANCHOR Contacts city start */
.contacts {

    &__top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding-bottom: 23px;

        &_marker {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-size: var(--font-size-12);
            font-weight: var(--font-weight-semibold);

            & picture {
                margin-right: 5px;
            }
        }
        & .city {
            font-size: var(--font-size-14);
            color: var(--color-1);
            font-weight: var(--font-weight-semibold);
        }
    }
    &__bottom {
        padding-top: 12px;
    }
}
/* Contacts city end */
/*ANCHOR Network links start */
.social {
    padding-top: 8px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

            &__network {
                margin: 13px 0 16px;
                width: 100%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                   -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }

            &__link {
                width: 46px;
                height: 46px;
                background: rgba(0,0,0,.1);
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
            & .btn {
                width: 180px;
                height: 45px;
                font-size: var(--font-size-14);
                padding-left: 10px;
                letter-spacing: 0.03em;
            }
}
/* Network links end */
/* Slick Slider custom style start */
.slick-prev, .slick-next {
    top: -150px;
    right: 0;
    left: auto;
    width: 100px;
    height: 100px;
    border: transparent;
    background: var(--color-22);

    &:before {
        font-size: 35px;
        line-height: 1;
        opacity: 1;
        color: #fff;
    }
    &:hover {
        border: 1px solid #F1F1F1;
        background: var(--color-22);
        color: #ffffff;
        opacity: 1!important;
    }
}
.slick-disabled {
    background: transparent;
    border: 1px solid #F1F1F1;
    
    &:before {
        color: #F1F1F1;
        opacity: 1!important;
    }
}
.slick-prev {
    right: 110px;
}
/* Slick Slider custom style end */

/*ANCHOR Padding's для секций */
.section {
    padding: 70px 0;

    &_title {
        margin-bottom: 70px;
    }
}
.popular-section {
    background: #ffffff url('../img/bg-product.png') no-repeat 0 100%;
    padding-bottom: 0;

    .slick-prev, .slick-next {
        top: -100px;
    }
}
.category-section {
    padding: 143px 0 60px;
    background: #FDF3ED;
}
.banner-section {
    background: var(--color-2);
    position: relative;
    padding-top: 15px;
}
.news-section {
    background: #ffffff;
    padding-bottom: 85px;

    .section_title {
        margin-bottom: 50px;
    }
} 
.subscribe-section {
    background: var(--color-6) url('../img/subscribe-bg.png') no-repeat 0 100%;
    padding: 50px 0 37px;
}
.footer-section {
    padding: 42px;
}
/* -------------------- Главная страница ----------- */

/* Header start */
/*ANCHOR Top menu start */
.top-panel {
    background: var(--color-7);
    padding: 18px 0;

        & .search {
            margin-right: 25px;
        }
        & .phone {
            margin-right: 11px;
        }

        & .logo {
            margin-right: 28px;
        }

        &__flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
        }
}

/*ANCHOR  Navigation start */
.navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            font-size: var(--font-size-18);
            color: var(--color-1);
}
.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    & li {
        padding: 0 17px;

        &:last-child a {
            color: var(--color-22);
            font-weight: var(--font-weight-bold);
        }
        & a {
            color: var(--color-black);
        }
    }
}
/* Navigation end */
/*ANCHOR Modal btn start */
.btn__modal {
    padding: 0 47px;

    & span {
        margin-left: 7px;
    }
}
/* Modal btn end */
/*ANCHOR Authentification start */
.auth {
    & a {
        font-weight: var(--font-weight-bold);
        padding: 5px 5px 5px 0;

        &:last-child {
            padding-left: 8px;
        }

        & object {
            margin-right: 7px;
        }
    }
    &__reg {
        border-left: 1px solid rgba(0, 0, 0, .1);
    }
}
/* Authentification end */
/*ANCHOR Search start */
.search {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        &__btn {
            border: 0;
            background: transparent;
            position: absolute;
            left: 20px;
            cursor: pointer;
            z-index: 1;
        }
        & input {
            height: 55px;
            width: 600px;
            background: #EAEAEA;
            border: 1px solid transparent;
            padding-left: 50px;
            -webkit-border-radius: 0 var(--border-radius-3) var(--border-radius-3) 0;
               -moz-border-radius: 0 var(--border-radius-3) var(--border-radius-3) 0;
                    border-radius: 0 var(--border-radius-3) var(--border-radius-3) 0;
            font-size: var(--font-size-18);
            color: var(--color-1);
            
            &:focus {
                outline: var(--color-22);
                border: 1px solid var(--color-22);
            }
        }
}
/* Search end */
/*ANCHOR Phone start */
.phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;


            & .work__time {
                color: #575757;
                font-size: var(--font-size-13);
                letter-spacing: var(--ls-main);
                margin-bottom: 5px;
            }
            & a {
                font-size: var(--font-size-23);
                font-weight: var(--font-weight-bold);
                letter-spacing: var(--ls-main);
            }
}
/* Phone end */
/*ANCHOR Menu dropdown start */
.menu__dropdown {
    cursor: pointer;
    position: relative;

    &-btn {
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-bold);
        color: var(--color-7);
        background: var(--color-22);
        text-transform: uppercase;
        width: 241px;
        height: 55px;
        -webkit-border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
           -moz-border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
                border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

                & span {
                    margin: 0 10px;
                }
    }
    .menu__category {
        visibility: hidden;
        -webkit-transform: translate(0, -500px);
           -moz-transform: translate(0, -500px);
            -ms-transform: translate(0, -500px);
             -o-transform: translate(0, -500px);
                transform: translate(0, -500px);
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
        position: absolute;
        left: 0;
        top: 80px;
        z-index: -1;
        width: 1200px;
        background: #ffffff;

        &_img {
            width: 100px;
        }

        & li a {
            width: 300px;
            height: 147px;
            border: 0;
            font-size: var(--font-size-20);
        }
    }

    &-arrow {
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    &.active {
        & .menu__category {
            visibility: initial;
            -webkit-transform: translate(0, 0);
               -moz-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                 -o-transform: translate(0, 0);
                    transform: translate(0, 0);
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

        & .menu__dropdown-arrow {
            -webkit-transition: all .5s ease;
            -o-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                 -o-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
    }
}
/* Menu dropdown end */
/*ANCHOR Cart start */
.cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    width: 164px;
    height: 55px;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    border: 2px solid var(--color-22);
    -webkit-border-radius: var(--border-radius-3);
       -moz-border-radius: var(--border-radius-3);
            border-radius: var(--border-radius-3);
            // padding: 10px 0 0 15px;
            

    &:hover {
        background: var(--color-22);
        color: var(--color-7);
    }
    &__icon {
        position: relative;
        margin-right: 18px;
        margin-left: 13px;
        padding-top: 8px;
        & span {
            width: 17px;
            height: 17px;
            background: #6E9E48;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            font-size: 11px;
            color: #ffffff;
            position: absolute;
            top: 1px;
            left: 13px;
        }
    }
}
/* Cart end */
/* Sidebar with main slider start */
/*ANCHOR Sidebar start */
.sidebar {
    background: var(--color-7);
    width: 340px;
    padding: 15px 0 53px;
    position: relative;
    -webkit-box-shadow: 20px 24px 44px rgba(0, 0, 0, .13);
       -moz-box-shadow: 20px 24px 44px rgba(0, 0, 0, .13);
            box-shadow: 20px 24px 44px rgba(0, 0, 0, .13);

    & ul {

        & li {

            &:not(:last-child) a {
                padding: 27px 0 27px 37px;
                letter-spacing: var(--ls-main);
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: start;
                        -webkit-justify-content: flex-start;
                           -moz-box-pack: start;
                            -ms-flex-pack: start;
                                justify-content: flex-start;
                
                & object {
                    margin-right: 15px;
                    width: auto;
                }
    
                &:hover {
                    background: var(--colot-bg);
                    
    
                }
            }
            
            &:last-child {
                text-align: center;
                padding-left: 33px;
                padding-top: 10px;
    
                & a {
                    color: var(--color-22);
                    border-bottom: 1px solid;
                }
            }

            & ul {
                z-index: 2;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 100%;
                background: var(--color-7);
                height: 100%;
                padding: 55px 55px 0;
                display: grid;
                grid-template-rows: repeat(7, 51px);
                grid-auto-flow: column;
                grid-auto-columns: minmax(315px, auto);

                &:before {
                    content: '';
                    display: block;
                    height: 82%;
                    width: 1px;
                    background: #B2B2B2;
                    position: absolute;
                    left: 25px;
                    top: 40px;
                }

                & li {
                    margin-bottom: 30px;
                    text-align: left;

                    & a {
                        position: relative;

                        & .flag {
                            font-size: 10px;
                            font-weight: var(--font-weight-bold);
                            width: 34px;
                            height: 17px;
                            position: absolute;
                            top: -15px;
                            right: -35px;
                        }
                        &:hover  {
                            background: transparent;
                            color: var(--color-22);
                        }
                    }
                    &:not(:last-child) a {
                        padding: 0;
                        color: var(--color-1);
                        border: 0;
                        display: inline;
                        letter-spacing: 0em;

                        &:hover {
                            background: transparent;
                        }
                    }

                    &:last-child {
                        padding: 0;
                        text-align: left;
                    }

                    &:last-child a {
                        padding: 0;
                        color: var(--color-1);
                        border: 0;
                        display: inline;
                        letter-spacing: 0em;
                    }
                }
            }

            &:hover ul {
                visibility: initial;
            }

        }
    }

    & a {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-20);
        color: var(--color-1);
        text-transform: uppercase;
    }
 }
/* Sidebar end */
/*ANCHOR Main slider start */
.slider {
    position: relative;

    &__mount {
        position: absolute;
        bottom: -3px;
        left: -25px;
        
    }
}
.main__slider {
    
  
    
    &_content {
        // background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--color-7);
        padding-top: 35px;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
                -webkit-box-align: start;
                -webkit-align-items: flex-start;
                   -moz-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;

            &-title {
                font-size: var(--font-size-45);
                font-weight: var(--font-weight-bold);
                margin-bottom: 40px;
                line-height: 0.9em;
                margin-top: 30px;
            }

            &-desc {
                font-size: var(--font-size-23);
                font-weight: var(--font-weight-regular);
                margin-bottom: 60px;
            }
            
            &-link {
                color: var(--color-7);
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-15);
            }

            & .main__slider_sale { 
                font-size: 330px;
                background: url("../img/autemn.jpg") top center;  
                font-family: 'Circe';
                font-weight: var(--font-weight-extralight);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1em;

                & span {
                    font-size: 305px;
                }
            }
    }

    &_item {
        position: relative;
        display: none;
        overflow: hidden;
        -webkit-border-radius: var(--border-radius-3);
           -moz-border-radius: var(--border-radius-3);
                border-radius: var(--border-radius-3);


        &.active {
            display: block;
        }
    }
}
.slider__dots {
    left: 0;
    bottom: 0;
    z-index: 1;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 175px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;


    &:before,
    &::after {
        border-top: 13px solid #fff;
        width: 40px;
        height: 30px;
        position: absolute;
        content: '';
        display: block;
        
    }
    &:before {
        -webkit-border-radius: 115px 19px 0 0;
           -moz-border-radius: 115px 19px 0 0;
                border-radius: 115px 19px 0 0;
        left: -24px;
        top: 0; 
        -webkit-transform: rotate(163deg);
           -moz-transform: rotate(163deg);
            -ms-transform: rotate(163deg);
             -o-transform: rotate(163deg);
                transform: rotate(163deg);
    }
    &::after {
        -webkit-border-radius: 19px 115px 0 0;
           -moz-border-radius: 19px 115px 0 0;
                border-radius: 19px 115px 0 0;
        right: -21px;
        top: 0;
        -webkit-transform: rotate(201deg);
           -moz-transform: rotate(201deg);
            -ms-transform: rotate(201deg);
             -o-transform: rotate(201deg);
                transform: rotate(201deg);

    }

    .dots {   
        padding: 10px 0;
        width: 150px;     
        -webkit-border-radius: 10px 10px 0 0 ;
        -moz-border-radius: 10px 10px 0 0 ;
         border-radius: 10px 10px 0 0 ;
        background: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    
        & span {
            display: block;
            height: 4px;
            width: 4px;
            background: #f3f3f3;
            cursor: pointer;
            position: relative;
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
    
            &:not(:last-child) {
                margin-right: 20px;
            }
    
            &.active:after {
                position: absolute;
                content: '';
                display: block;
                height: 4px;
                width: 30px;
                z-index: 9;
                background: var(--color-2);
                -webkit-border-radius: 10px;
                   -moz-border-radius: 10px;
                        border-radius: 10px;
            }
        }
        
    }
}
/* Main slider end */
/* Sidebar with main slider end */
/* Header end */

/*ANCHOR Privilege list start */
.privelege {
    padding: 45px 0 60px;

    &_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    &_img {
        background: #ffffff;
        width: 73px;
        height: 73px;
        margin-right: 20px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    &_content {

        & h3 {
            font-size: var(--font-size-20);
            font-weight: var(--font-weight-bold);
            margin-bottom: 10px;
        }

    }
}
/* Privilege list end */

/*ANCHOR Popular product start */
.popular {
    margin-bottom: -70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

    &__item {
        width: 370px;
        padding: 25px 40px 40px 40px;
        position: relative;
        background: var(--color-7);
        -webkit-box-shadow: 20px 24px 44px rgba(0, 0, 0, .04);
        -moz-box-shadow: 20px 24px 44px rgba(0, 0, 0, .04);
        box-shadow: 20px 24px 44px rgba(0, 0, 0, .04);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        &:not(:last-child) {
            margin-right: 38px;
        }

        &_img {
            position: relative;
            padding-top: 100%;
            width: 100%;
            height: 370px;
            display: block;

            & picture,
            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: contain;
                   object-fit: contain;
            }
        }
        &_title {
            font-size: var(--font-size-20);
            font-weight: var(--font-weight-regular);
            color: var(--color-1);
            text-align: center;
            margin-bottom: auto;
        }
        &_total {
            font-size: var(--font-size-30);
            font-weight: var(--font-weight-bold);
            margin: 10px 0 20px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

                    &-sale {
                        font-weight: var(--font-weight-semibold);
                        color: #a8a8a8;
                        position: relative;
                        margin-right: 10px;

                        &:after {
                            content: '';
                            display: block;
                            height: 1px;
                            width: 107%;
                            background: #959595;
                            top: 21px;
                            left: -5px;
                            position: absolute;
                        }
                    }
                    & .rub {
                        font-size: var(--font-size-20);
                    } 
        }

        & .btn {
            height: 60px;
            width: 100%;
            letter-spacing: var(--ls-2);
        }

        & .flag {
            position: absolute;
            z-index: 1;
            width: 73px;
            height: 37px;
            font-size: var(--font-size-13);
            top: 10px;
            right: 30px;
        }

    }
}
/* Popular product end */
/*ANCHOR Banner sales start */
.banner {
    color: var(--color-7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &__total {
        position: relative;
        margin-right: 130px;
        margin-bottom: -20px;

        & picture {
            position: relative;
            z-index: 1;

            &:first-child {
                margin-bottom: 0;
            }
            &:last-child {
                position: absolute;
                bottom: 55px;
                left: -240px;
                z-index: 0;
            }
        }
    }
    &__content {
        width: 465px;
        padding-top: 43px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

                &-title {
                    margin-bottom: 15px;
                }
                &-text {
                    font-size: var(--font-size-18);
                    margin-bottom: 20px;
                    line-height: 1.7em;
                }
                & .btn {
                    width: 300px;
                    height: 60px;
                    font-size: 18px;
                    letter-spacing: 0.1em;
                    -webkit-border-radius: var(--border-radius-3);
                       -moz-border-radius: var(--border-radius-3);
                            border-radius: var(--border-radius-3);
                }
    }
    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
}
/* Banner sales end */
/*ANCHOR News slider start */
.news {

    &__tabs {
        font-size: var(--font-size-23);
        font-weight: var(--font-weight-semibold);
        margin-bottom: 40px;

        &-item {
            display: inline-block;
            cursor: pointer;
            position: relative;
            z-index: 1;
            padding: 0 5px;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                visibility: hidden;
                background: var(--color-22);
                position: absolute;
                bottom: 0;
                left: 0;
                -webkit-transition: all .3s linear;
                -o-transition: all .3s linear;
                -moz-transition: all .3s linear;
                transition: all .3s linear;
                z-index: -1;
            }

            &:hover {
                &:before {
                    height: 15px;
                    visibility: visible;
                    -webkit-transition: all .3s linear;
                    -o-transition: all .3s linear;
                    -moz-transition: all .3s linear;
                    transition: all .3s linear;
                }
            }

            &.active {
                &:before {
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    transition: all .5s ease;
                    visibility: visible;
                    height: 15px;
                }
            }
            &:not(:last-child) {
                margin-right: 37px;
            }
        }
    }

    &__preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
           -moz-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;


        &_item {
            width: 357px;
            position: relative;
            max-height: 551px;
            overflow: hidden;

            &:not(:last-child) {
                margin-right: 55px;
            }

            &.disable {
                -webkit-transition: opacity .2s ease, width .1s linear;
                -o-transition: opacity .2s ease, width .1s linear;
                -moz-transition: opacity .2s ease, width .1s linear;
                transition: opacity .2s ease, width .1s linear; 
                width: 0%!important; 
                opacity: 0; 
                overflow: hidden; 
                margin: 0; 
                height: 0;
                
            } 
            &.active {
                -webkit-transition: opacity .5s ease, width .1s linear;
                -o-transition: opacity .5s ease, width .1s linear;
                -moz-transition: opacity .5s ease, width .1s linear;
                transition: opacity .5s ease, width .1s linear; 
                max-width: 100%;
                overflow: unset;
            } 

            & .flag {
                position: absolute;
                z-index: 1;
                height: 31px;
                width: 68px;
                top: 20px;
                left: 20px;
                font-size: var(--font-size-13);
                font-weight: var(--font-weight-bold);
                text-transform: none;
            }
        }
        &_img {
            position: relative;
            width: 100%;
            display: block;
            height: 300px;
            margin-bottom: 30px;

            & picture,
            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
        &_title {
            font-size: var(--font-size-30);
            font-weight: var(--font-weight-bold);
            color: var(--color-black);
            display: inline-block;
            margin-bottom: 25px;

            &:hover {
                color: var(--color-22);
            }
        }
        &_date {
            margin-bottom: 15px;
            display: inline-block;
        }
        &_text {
            line-height: 1.7em;
            font-size: var(--font-size-18);
        }
    }
}
/* News slider end */
/*ANCHOR Subscribe start */
.subscribe {
    text-align: center;
    color: var(--color-7);

    &__title {
        font-weight: var(--font-weight-extrabold);
        margin-bottom: 25px;
    }
    &__text {
        font-size: var(--font-size-18);
        margin-bottom: 30px;
    } 

    &__form {
        width: 58%;
        margin: 0 auto;

        &_block {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin-bottom: 22px;
        }
        &_label {
            position: relative;
            background: var(--color-7);
            overflow: hidden;
            border: 0;
            -webkit-border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
               -moz-border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
                    border-radius: var(--border-radius-3) 0 0 var(--border-radius-3);
            height: 60px;
            width: 68%;

            & picture {
                position: absolute;
                top: 20px;
                left: 28px;            
            }
            & input {
                width: 100%;
                border: 0;
                height: 100%;
                padding-left: 63px;
                letter-spacing: var(--ls-02);

                &::-webkit-input-placeholder {
                    font-size: var(--font-size-15);
                    color: var(--color-1);
                }

                &:-moz-placeholder {
                    font-size: var(--font-size-15);
                    color: var(--color-1);
                }

                &::-moz-placeholder {
                    font-size: var(--font-size-15);
                    color: var(--color-1);
                }

                &:-ms-input-placeholder {
                    font-size: var(--font-size-15);
                    color: var(--color-1);
                }

                &::-ms-input-placeholder {
                    font-size: var(--font-size-15);
                    color: var(--color-1);
                }

                &::placeholder {
                    font-size: var(--font-size-15);
                    color: var(--color-1);
                }
            }
        }
        &_btn {
            width: 32%;
            border: 0;
            margin-left: -2px;
            position: relative;
            cursor: pointer;
            letter-spacing: 0.1em;
            font-size: var(--font-size-18);
            -webkit-border-radius: var(--border-radius-3);
               -moz-border-radius: var(--border-radius-3);
                    border-radius: var(--border-radius-3);
        }
        &_desc {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding-left: 10px;

            p {
                font-size: var(--font-size-12);
                font-family: 'Montserrat', sans-serif;
            }
        }
        &-checkbox {
            margin-right: 15px;
            
            input{
                display: none;
            }
            input + label{
                display: block;
                width: 20px;
                height: 20px;
                background: #DFDFDF;
                border: 1px solid #B4B4B4;    
                text-align: center;    
                cursor: pointer;
            }
            input + label:before{
                content: '';
                position: absolute;
                left: 4px;
                top: -2px;
            }
            input:checked + label{
                border: 1px solid #B4B4B4;
                position: relative;    
            }
            input:checked + label:before{
                content: url(../img/checkbox.svg);
            }
        }

    }
}
/* Subscribe end */

/*ANCHOR Footer start */
.footer {
    
    &__top {
        padding-bottom: 11px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; 
        -webkit-box-pack: justify; 
        -webkit-justify-content: space-between; 
           -moz-box-pack: justify; 
            -ms-flex-pack: justify; 
                justify-content: space-between;
    }
    &__bottom {
        margin-right: auto;
        padding-top: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;

        & p, a {
            font-size: var(--font-size-12);
            font-weight: var(--font-weight-semibold);
            opacity: .5;
        }
        & p {
            margin-right: auto;
        }
        & a {   
            display: -webkit-box;   
            display: -webkit-flex;   
            display: -moz-box;   
            display: -ms-flexbox;   
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-right: 22px;

            & picture {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                margin-right: 5px;
            }
            &:not(:last-child) {
                margin-right: 95px;
            }
        }

    }

    &__menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        & .menu {
            display: grid;
            grid-template-rows: auto auto auto auto;
            grid-auto-flow: column;

            & li {
                padding: 0px 55px;
                
                &:not(:last-child) {  
                    margin-bottom: 14px;
                }
                a {
                    font-size: var(--font-size-16);
                    font-weight: var(--font-weight-semibold);
                    text-transform: uppercase;
                    color: var(--color-1);
                }
            }

            &:not(:last-child) {
                grid-template-rows: auto auto auto auto auto;
            }
        }
    }
}
/* Footer end */
