<div class="card card-catalog">
    @@include('../elements/flag.html', {
        name: 'New',
        color: '@@color'
    })
    <div class="wrapper">
        <div class="card-left">
            <div class="tac">
                <div class="card__img">
                    <img src="@@image_src" alt="product">
                </div>
            </div>
            <div class="card-about">
                <div class="card-about__text">
                    Ксантановая камедь является микробиологическим полимером. Применяется в качестве вещества, контролирующего вязкость раствора и реологию. Псевдопластичность камеди ксантана почти не зависит от концентрации и градиента сдвига. Вязкость 1200 - 1600 cps
                </div>
                <div class="card-about__specification">
                    <div class="card-specification_column">
                        <div class="card-specification_row-name">
                            <img src="img/spec-dosage.svg" alt="icon">
                            <span>Рекомендуемые дозировки:</span>
                        </div>
                        <div class="card-specification_row-value">
                            0,15 - 0,5 %, в зависимости от желаемой структуры продукта
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-right">
            <h3>
                @@title
            </h3>
            <a href="#" class="card-more">Подробнее 
                <svg width="4" height="7" viewBox="0 0 4 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.06897 1L3 3.45614L1 6" stroke="#FFA11B"/>
                </svg>
            </a>
            @@include('../elements/btn-popup.html', {
                name: 'Оформить заявку',
                class: '2'
            })
            @@include('../elements/btn-popup.html', {
                name: ' Задать вопрос технологу',
                class: '1'
            })
            <a href="#" class="link-download">
                <img src="img/download.svg" alt="icon">
                Скачать спецификацию
            </a>
        </div>
    </div>
</div>