<div class="card">
    @@include('../elements/flag.html', {
        name: 'New',
        color: '@@color'
    })
    <div class="wrapper">
        <div class="card-left">
            <div class="tac">
                <div class="card__img">
                    <img src="@@image_src" alt="product">
                </div>
            </div>
            <div class="card-about">
                <div class="card-about__title">
                    <h3>
                        @@title
                    </h3>
                </div>
                <div class="card-about__text">
                    <b>Описание:</b>  Полурафинированный каппа каррагинан,  Е407а               
                </div>
                <div class="card-about__text">
                    <b>Группа:</b>  Моноингредиенты – загустители, гелеобразователи
                </div>
                <p class="">
                    <b>Naturen® Extra 220</b> — жидкий стандартизированный молокосвертывающий сычужный фермент животного происхождения. Состоит из 5 % говяжьего пепсина и 95 % химозина. <b>Активность 220 UMCU/мл.</b> Фермент получен путем экстракции из четвертого отдела желудочка телят и/или взрослых коров. Общая протеолитическая активность оказывает также значительное влияние на образование аромата и текстуры в сыре.
                </p>
                <div class="card-specification">
                    <div class="card-specification_row">
                        <div class="card-specification_row-name">
                            <img src="img/product-spec-dosage.svg" alt="icon">
                            <span>Рекомендуемые <br> дозировки:</span>
                        </div>
                        <div class="card-specification_row-value">
                            Для творога 0,7 - 1,0 мл,  <br>
                            для сыров  7 - 10 мл.  <br>
                            или 1500 - 3000 UMCU на 100 л молока
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    @@include('../elements/btn-popup.html', {
                        name: 'Оформить заявку',
                        class: '2'
                    })
                    @@include('../elements/btn-popup.html', {
                        name: ' Задать вопрос технологу',
                        class: '1'
                    })
                </div>
            </div>
        </div>
        <a href="#" class="link-download">
            <img src="img/download.svg" alt="icon">
            Скачать спецификацию
        </a>
    </div>
</div>