<div class="card">
    @@include('../elements/flag.html', {
        name: 'New',
        color: '@@color'
    })
    <div class="wrapper">
        <div class="card-left">
            <div class="tac">
                <div class="card__img">
                    <img src="@@image_src" alt="product">
                </div>
            </div>
            <div class="card-about">
                @@include('../elements/rating.html')
                <div class="card-about__title">
                    <h3>
                        @@title
                    </h3>
                </div>
                <div class="card-about__text">
                    <b>Описание:</b>  Полурафинированный каппа каррагинан,  Е407а               
                </div>
                <div class="card-about__text">
                    <b>Группа:</b>  Моноингредиенты – загустители, гелеобразователи
                </div>
                <div class="card-specification">
                    <div class="card-specification_row">
                        <div class="card-specification_row-name">
                            <img src="img/product-spec-dosage.svg" alt="icon">
                            <span>Рекомендуемые <br> дозировки:</span>
                        </div>
                        <div class="card-specification_row-value">
                            Для творога 0,7 - 1,0 мл,  <br>
                            для сыров  7 - 10 мл.  <br>
                            или 1500 - 3000 UMCU на 100 л молока
                        </div>
                    </div>
                    <div class="card-specification_row">
                        <div class="card-specification_row-name">
                            <img src="img/product-spec-where.svg" alt="icon">
                            <span>Наличие на складе:</span>
                        </div>
                        <div class="card-specification_row-value">
                            @@include('../elements/city.html')
                            <p>125.00 кг (1225.00 кг через 2 дн. после оплаты)</p>
                        </div>
                    </div>
                    <div class="card-specification_row">
                        <div class="card-specification_row-name">
                            <img src="img/product-spec-bag.svg" alt="icon">
                            <span>Упаковка:</span>
                        </div>
                        <div class="card-specification_row-value">
                            Крафт-мешки с полиэтиленовым вкладышем, 25 кг
                        </div>
                    </div>
                    <div class="card-specification_row">
                        <div class="card-specification_row-name">
                            <img src="img/product-spec-deliv.svg" alt="icon">
                            <span>Условия отгрузки:</span>
                        </div>
                        <div class="card-specification_row-value">
                            Возможна доставка и самовывоз
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-right">
            <div class="card-specification_row-name">
                <span>Цены с НДС:</span>
            </div>
            <div class="card-specification_row">
                <span class="card-specification_column">
                    от 25 кг до 125 кг
                </span>
                <span class="card-specification_column">
                    163,59 руб./кг
                </span>
            </div>
            <div class="card-specification_row">
                <span class="card-specification_column">
                    от 150 кг до 300 кг
                </span>
                <span class="card-specification_column">
                    161,59 руб./кг
                </span>
            </div>
            <div class="card-specification_row">
                <span class="card-specification_column">
                    от 325 кг до 500 кг
                </span>
                <span class="card-specification_column">
                    158,59 руб./кг
                </span>
            </div>
            <div class="card-specification_row-name">
                <span>Добавить в корзину:</span>
            </div>
            <div class="card-add-quantity">
                <div class="count"></div>
                <div class="packing"></div>
            </div>
            <div class="custom-select quantity-to-cart">
                <select>
                    <option>Выберите количество</option>
                    <option>25 кг - 163,59 руб./кг</option>
                    <option>50 кг - 161,59 руб./кг</option>
                    <option>100 кг - 158,59 руб./кг</option>
                    <option>150 кг - 153,59 руб./кг</option>
                </select>
            </div>
            <button class="btn btn-to-cart" value="">Перейти в корзину</button>
            @@include('../elements/btn-popup.html', {
                name: ' Задать вопрос технологу',
                class: '1'
            })
            <a href="#" class="link-download">
                <img src="img/download.svg" alt="icon">
                Скачать спецификацию
            </a>
        </div>
    </div>
</div>