
<div class="product-descrition">
    <div class="tabs">
        <span class="tab active">Область применения</span>
        <span class="tab">Свойства</span>
        <span class="tab">Соответствует требованиям следующих нормативных документов</span>
        <span class="tab">Cпецификация</span>
        <span class="tab">Отзывы</span>
    </div>
    <div class="contents">
        <div class="content active">
            <h4>
                Органолептические показатели:
            </h4>
            <ol>
                <li>
                    Внешний вид: порошок тонкого помола
                </li>
                <li>
                    Цвет: от светло-желтого до кремового 
                </li>
                <li>
                    Вкус, запах: характерный, без посторонних привкусов и нот 
                </li>
            </ol>
            <h4>
                Функциональные свойства:
            </h4>
            <ol>
                <li>
                    Вязкость: ≤ 30 сps 
                </li>
                <li>
                    Прочность геля: ≥ 550 г/см2 
                </li>
            </ol>
            <h4>
                Физико-химические показатели:
            </h4>
            <ol>
                <li>
                    Массовая доля влаги: ≤ 12 % 
                </li>
                <li>
                    рН: 8 – 10 
                </li>
                <li>
                    Размер частиц: 90% продукта проходит через сито 140 mesh
                </li>
            </ol>
            <h4>
                Содержание токсичных элементов: 
            </h4>
            <ol>
                <li>
                    ртуть: ˂ 1 мг/кг  
                </li>
                <li>
                    свинец: ˂ 2 мг/кг
                </li>
                <li>
                    мышьяк: ˂ 3 мг/кг 
                </li>
                <li>
                    кадмий: ˂ 1 мг/кг 
                </li>
            </ol>
            <h4>
                Микробиологические показатели: 
            </h4>
            <ol>
                <li>
                    Общее число бактерий: ≤ 5х103 КОЕ/г 
                </li>
                <li>
                    Патогенная микрофлора, в том числе сальмонеллы: <br> Отсутствует в 25 г 
                </li>
                <li>
                    Е.colli: Отсутствуют в 1 г 
                </li>
                <li>
                    Дрожжи и плесень: ≤ 100 КОЕ/г
                </li>
            </ol>
            <p>
                <b>Условия хранения:</b> В чистых, хорошо вентилируемых помещениях <br>
                 при температуре от 0 до плюс 25 °С и относительной влажности <br>
                  воздуха не более 80 %.
            </p>
            <p>
                <b>Срок годности:</b> 18 месяцев с даты изготовления
            </p>
            <p>
                <b>Производитель: </b> Китай.
            </p>


            <!-- <table border="0" cellpadding="1" cellspacing="1">
                <tbody>
                    <tr>
                        <td>
                            <h4>
                                Органолептические показатели:
                            </h4>
                            <ol>
                                <li>
                                    Внешний вид: порошок тонкого помола
                                </li>
                                <li>
                                    Цвет: от светло-желтого до кремового 
                                </li>
                                <li>
                                    Вкус, запах: характерный, без посторонних привкусов и нот 
                                </li>
                            </ol>
                            <h4>
                                Функциональные свойства:
                            </h4>
                            <ol>
                                <li>
                                    Вязкость: ≤ 30 сps 
                                </li>
                                <li>
                                    Прочность геля: ≥ 550 г/см2 
                                </li>
                            </ol>
                            <h4>
                                Физико-химические показатели:
                            </h4>
                            <ol>
                                <li>
                                    Массовая доля влаги: ≤ 12 % 
                                </li>
                                <li>
                                    рН: 8 – 10 
                                </li>
                                <li>
                                    Размер частиц: 90% продукта проходит через сито 140 mesh
                                </li>
                            </ol>
                        </td>
                        <td>
                            <h4>
                                Содержание токсичных элементов: 
                            </h4>
                            <ol>
                                <li>
                                    ртуть: ˂ 1 мг/кг  
                                </li>
                                <li>
                                    свинец: ˂ 2 мг/кг
                                </li>
                                <li>
                                    мышьяк: ˂ 3 мг/кг 
                                </li>
                                <li>
                                    кадмий: ˂ 1 мг/кг 
                                </li>
                            </ol>
                            <h4>
                                Микробиологические показатели: 
                            </h4>
                            <ol>
                                <li>
                                    Общее число бактерий: ≤ 5х103 КОЕ/г 
                                </li>
                                <li>
                                    Патогенная микрофлора, в том числе сальмонеллы: <br> Отсутствует в 25 г 
                                </li>
                                <li>
                                    Е.colli: Отсутствуют в 1 г 
                                </li>
                                <li>
                                    Дрожжи и плесень: ≤ 100 КОЕ/г
                                </li>
                            </ol>
                        </td>
                        <td>
                            <p>
                                <b>Условия хранения:</b> В чистых, хорошо вентилируемых помещениях <br>
                                 при температуре от 0 до плюс 25 °С и относительной влажности <br>
                                  воздуха не более 80 %.
                            </p>
                            <p>
                                <b>Срок годности:</b> 18 месяцев с даты изготовления
                            </p>
                            <p>
                                <b>Производитель: </b> Китай.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
        <div class="content">
            Тест2
        </div>
        <div class="content">
            Тест3
        </div>
        <div class="content">
            Тест4
        </div>
        <div class="content">
            Тест5
        </div>
    </div>
</div>