
<div class="product-descrition">
    <div class="tabs">
        <span class="tab active">Область применения</span>
        <span class="tab">Свойства</span>
        <span class="tab">Соответствует требованиям следующих нормативных документов</span>
        <span class="tab">Cпецификация</span>
        <span class="tab">Отзывы</span>
    </div>
    <div class="contents">
        <div class="content active">
            Тест1
        </div>
        <div class="content">
            Тест2
        </div>
        <div class="content">
            Тест3
        </div>
        <div class="content">
            Тест4
        </div>
        <div class="content">
            Тест5
        </div>
    </div>
</div>