<ul class="menu__category">
    <li>
        <a href="#">
           <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images1" fill="#CE7A39"></use>
                </svg>
           </div>
            <span>Переработка мяса <br> и птицы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images2" fill="#6E9E48"></use>
                </svg>
           </div>
            <span>Переработка <br> рыбы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images3" fill="#D87645"></use>
                </svg>
           </div>
            <span>Консервы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images4"  fill="#1C96D9"></use>
                </svg>
           </div>
            <span>Кондитерские <br> изделия</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images5" fill="#C94044"></use>
                </svg>
           </div>
            <span>Хлебобулочные <br> изделия</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images6" fill="#CE7A39"></use>
                </svg>
           </div>
            <span>Переработка <br> фруктов</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images7" fill="#FF842A"></use>
                </svg>
           </div>
            <span>Молочные <br> продукты</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images8" fill="#6E9E48"></use>
                </svg>
           </div>
            <span>Напитки</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images9" fill="#6E9E48"></use>
                </svg>
           </div>
            <span>Соусы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images10" fill="#DFB107"></use>
                </svg>
           </div>
            <span>Концентраты</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images11" fill="#FFCB09"></use>
                </svg>
           </div>
            <span>Масло и жир</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <svg class="inline-svg-icon cloud">
                    <use xlink:href="#cat@@images12" fill="#A96C4D"></use>
                </svg>
           </div>
            <span>Пробиотики и <br> пребиотики</span>
        </a>
    </li>
</ul>