<form class="filters">
    <span class="filters__close"></span>
    <span class="filters__title">
        Фильтры
    </span>
    <span class="small-title">Каталог</span>
    @@include('../elements/label.html', {
        name: 'Ингредиенты',
        count: '[80]',
        hidden: 'hidden'
    })
    @@include('../elements/label.html', {
        name: 'Сырье',
        count: '[2]',
        hidden: 'hidden'
    })
    @@include('../elements/label.html', {
        name: 'Функционлаьные смеси',
        count: '[8]',
        hidden: 'hidden'
    })
    @@include('../elements/label.html', {
        name: 'Тесты',
        count: '[4]',
        hidden: 'hidden'
    })
    <div class="filters__category dropdown">
        <span class="small-title">Категория</span>
        @@include('../elements/label.html', {
            name: 'Каррагинаны',
            count: '[80]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Пектины',
            count: '[2]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Красители натуральные',
            count: '[8]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Закваски, бактериальные культуры DVS',
            count: '[4]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Карбоксилетил целлюлоза',
            count: '[80]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Ферменты',
            count: '[2]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Глянцеватели',
            count: '[8]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Альгинат натрия',
            count: '[4]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Камеди',
            count: '[2]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Ароматизаторы',
            count: '[8]',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Эмульгаторы',
            count: '[4]',
            hidden: ''
        })
    </div>
    <div class="filters__group dropdown">
        <span class="small-title">Группа</span>
        @@include('../elements/label.html', {
            name: 'Ксантановая камедь',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Гуарановая камедь',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: 'Конжаковая камедь',
            count: '',
            hidden: ''
        })
    </div>
    <span class="small-title">Цена</span>
    <div class="price__slider">
        <div class="price__inputs">
            <input class="price__input_min" aria-valuemin="0" type="number" value="1599">
            <span class="line"></span>
            <input class="price__input_max" aria-valuemax="45999" type="number" value="30999">
        </div>
        <div class="price__range">
            <div class="price__range_rail"></div>
            <div class="price__range_track"></div>
            <div class="price__range_handle-1" aria-valuemin="0" aria-valuemax="99" aria-valuenow=""></div>
            <div class="price__range_handle-2" aria-valuemin="0" aria-valuemax="99" aria-valuenow="" ></div>
        </div>
    </div>
    <div class="filters__group dropdown">
        <span class="small-title">Фасовка</span>
        @@include('../elements/label.html', {
            name: '1 шт',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: '20 кг',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: '25 кг',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: '50 кг',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: '100 кг',
            count: '',
            hidden: ''
        })
        @@include('../elements/label.html', {
            name: '200 кг',
            count: '',
            hidden: ''
        })
    </div>
    <div class="wrapper">
        <button class="filters__btn btn">
            Очистить
        </button>
        <button class="filters__btn btn">
            Применить
        </button>
    </div>
</form>