<footer class="footer-section bg-main">
    <div class="container">
        <div class="footer">
            <div class="footer__top">
                @@include('../elements/logo.html')
                <div class="contacts">
                    <div class="contacts__top">
                        <div class="contacts__top_marker">
                            <img src="img/marker.svg" alt="marker">
                            Ваш город:
                        </div>
                        @@include('../elements/city.html')
                    </div>
                    <div class="contacts__bottom">
                        @@include('../elements/phone.html')
                    </div>
                </div>
                <div class="footer__menu">
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Каталог
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Доставка и оплата
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Возврат
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Новости
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                О компании
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Пресс-центр
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Частые вопросы
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Партнерам
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                О компании
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Пресс-центр
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Частые вопросы
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Партнерам
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <p>
                        Мы в социальных сетях:
                    </p>
                    <div class="social__network">
                        <a class="social__link" href="#">
                            <img src="img/fb.svg" alt="fb">
                        </a>
                        <a class="social__link" href="#">
                            <img src="img/vk.svg" alt="vk">
                        </a>
                        <a class="social__link" href="#">
                            <img src="img/instagram.svg" alt="instagram">
                        </a>
                    </div>
                    <a href="#" class="btn">
                        Запросить КП
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <p>
                    © Ingredico 2010-2020 Все права защищены.
                </p>
                <a href="#">
                    Публичная оферта
                </a>
                <a href="#">
                    Карта сайта
                </a>
                <a href="#">
                    <img src="img/mail-grey.svg" alt="mail">
                    Написать в поддержку
                </a>
            </div>
        </div>
    </div>
</footer>