<div class="slider">
     <!-- Swiper -->
    <div class="swiper-container main__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide blur">
                <img src="img/banner.jpg" alt="">
                <div class="main__slider_content">
                    <div>
                        <h1 class="main__slider_content-title">
                            Сентябрьские <br> скидки
                        </h1>
                        <p class="main__slider_content-desc">
                            Только до 31 сентября на <br> тесты Beta Star
                        </p>
                        <a href="#" class="main__slider_content-link">
                            Подробнее
                            <object
                                type="image/svg+xml"
                                data="img/arrow.svg">
                                <img src="img/arrow.svg">
                            </object>
                        </a>
                    </div>
                    <span class="main__slider_sale">20<span>%</span></span>
                </div> 
            </div>
            <div class="swiper-slide">
                <img src="img/banner.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="swiper-container slider__mount">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/autumn.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/autumn.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/autumn.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/autumn.png" alt="">
            </div>
        </div>

        <div class="swiper-pagination slider__dots"></div>
    </div>
</div>