<ul class="menu__category">
    <li>
        <a href="#">
           <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images1">
                    <img src="@@images1">
                </object>
           </div>
            <span>Переработка мяса <br> и птицы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images2">
                    <img src="@@images2">
                </object>
           </div>
            <span>Переработка <br> рыбы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images3">
                    <img src="@@images3">
                </object>
           </div>
            <span>Консервы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images4">
                    <img src="@@images4">
                </object>
           </div>
            <span>Кондитерские <br> изделия</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images5">
                    <img src="@@images5">
                </object>
           </div>
            <span>Хлебобулочные <br> изделия</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images6">
                    <img src="@@images6">
                </object>
           </div>
            <span>Переработка <br> фруктов</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images7">
                    <img src="@@images7">
                </object>
           </div>
            <span>Молочные <br> продукты</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images8">
                    <img src="@@images8">
                </object>
           </div>
            <span>Напитки</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images9">
                    <img src="@@images9">
                </object>
           </div>
            <span>Соусы</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images10">
                    <img src="@@images10">
                </object>
           </div>
            <span>Концентраты</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images11">
                    <img src="@@images11">
                </object>
           </div>
            <span>Масло и жир</span>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="menu__category_img">
                <object
                    type="image/svg+xml"
                    data="@@images12">
                    <img src="@@images12">
                </object>
           </div>
            <span>Пробиотики и <br> пребиотики</span>
        </a>
    </li>
</ul>