<div class="overlay__menu"></div>
<header class="header">

    <div class="top-panel">
        <div class="container">
            <div class="top-panel__flex">
                <a href="/" class="logo">
                    <img src="../images/logo.png" alt="" class="logo__img">
                </a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="menu__item">
                            <select name="city" id="city" class="city">
                                <option data-city="Novosibirsk" value="+7 3852 633 253">
                                    Новосибирск
                                </option>
                                <option data-city="Moscow" value="+7 3852 633 254">
                                    Москва
                                </option>
                                <option data-city="Barnaul" value="+7 3852 633 255">
                                    Барнаул
                                </option>
                                <option data-city="OtherCity" value="+7 3852 633 256">
                                    Другие города
                                </option>
                            </select>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Компания
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Пресс-центр
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Частые вопросы
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Партнерам
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Контакты
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Запросить КП
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn__modal">
                        <object type="image/svg+xml" data="../images/mail.svg">
                            <img src="../images/mail.svg">
                        </object>
                        <span>Написать</span>
                    </a>
                    <div class="auth">
                        <a href="#" class="auth__enter">
                            <object type="image/svg+xml" data="../images/user.svg">
                                <img src="..//img/user.svg">
                            </object>
                            Вход
                        </a>
                        <a href="#" class="auth__reg">
                            Регистрация
                        </a>
                    </div>
                    <div class="menu__dropdown">
                        <div class="menu__dropdown-btn">
                            <object type="image/svg+xml" data="../images/burger.svg">
                                <img src="../images/burger.svg">
                            </object>
                            <span>Области применения</span>
                            <object class="menu__dropdown-arrow" type="image/svg+xml" data="../images/arrow-down.svg">
                                <img src="../images/arrow-down.svg">
                            </object>
                        </div>
                        @@include('../templates/category.html', {
                        images1: '../images/1-drop.svg',
                        images2: '../images/2-drop.svg',
                        images3: '../images/3-drop.svg',
                        images4: '../images/4-drop.svg',
                        images5: '../images/5-drop.svg',
                        images6: '../images/6-drop.svg',
                        images7: '../images/7-drop.svg',
                        images8: '../images/8-drop.svg',
                        images9: '../images/9-drop.svg',
                        images10: '../images/10-drop.svg',
                        images11: '../images/11-drop.svg',
                        images12: '../images/12-drop.svg',
                        })
                    </div>
                    <form action="/" class="search">
                        <button class="search__btn">
                            <object type="image/svg+xml" data="../images/search.svg">
                                <img src="../images/search.svg">
                            </object>
                        </button>
                        <input type="text" placeholder="Поиск" name="search" class="search__input">
                    </form>
                    @@include('elements/phone.html')
                    <a href="#" class="cart">
                        <div class="cart__icon">
                            <object type="image/svg+xml" data="../images/cart.svg">
                                <img src="../images/cart.svg">
                            </object>
                            <span>2</span>
                        </div>
                        <span>Корзина</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>

</header>