<header class="header">
    
    <div class="top-panel">
        <div class="container">
            <div class="top-panel__flex">
                <a href="/" class="logo">
                    <img src="../images/logo.png" alt="" class="logo__img">
                </a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="menu__item">
                            <select name="city" id="city" class="city">
                                <option data-city="Novosibirsk" value="+7 3852 633 253">
                                    Новосибирск
                                </option>
                                <option data-city="Moscow" value="+7 3852 633 254">
                                    Москва
                                </option>
                                <option data-city="Barnaul" value="+7 3852 633 255">
                                    Барнаул
                                </option>
                                <option data-city="OtherCity" value="+7 3852 633 256">
                                    Другие города
                                </option>
                            </select>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Компания
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Пресс-центр
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Частые вопросы
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Партнерам
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Контакты
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                Запросить КП
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn__modal">
                        <object
                            type="image/svg+xml"
                            data="../images/mail.svg">
                            <img src="../images/mail.svg">
                        </object>
                        <span>Написать</span>
                    </a>
                    <div class="auth">
                        <a href="#" class="auth__enter">
                            <object
                                type="image/svg+xml"
                                data="../images/user.svg">
                                <img src="..//img/user.svg">
                            </object>
                            Вход
                        </a>
                        <a href="#" class="auth__reg">
                            Регистрация
                        </a>
                    </div>
                    <div class="menu__dropdown">
                        <div class="menu__dropdown-btn">
                            Области применения
                        </div>
                        <ul class="menu__category">
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/1.svg">
                                        <img src="../images/1.svg">
                                    </object>
                                    <span>Переработка мяса и птицы</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/2.svg">
                                        <img src="../images/2.svg">
                                    </object>
                                    <span>Переработка рыбы</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/3.svg">
                                        <img src="../images/3.svg">
                                    </object>
                                    <span>Консервы</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/4.svg">
                                        <img src="../images/4.svg">
                                    </object>
                                    <span>Кондитерские изделия</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/5.svg">
                                        <img src="../images/5.svg">
                                    </object>
                                    <span>Хлебобулочные изделия</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/6.svg">
                                        <img src="../images/6.svg">
                                    </object>
                                    <span>Переработка фруктов</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/7.svg">
                                        <img src="../images/7.svg">
                                    </object>
                                    <span>Молочные продукты</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/8.svg">
                                        <img src="../images/8.svg">
                                    </object>
                                    <span>Напитки</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/9.svg">
                                        <img src="../images/9.svg">
                                    </object>
                                    <span>Соусы</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/10.svg">
                                        <img src="../images/10.svg">
                                    </object>
                                    <span>Концентраты</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/11.svg">
                                        <img src="../images/11.svg">
                                    </object>
                                    <span>Масло и жир</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <object
                                        type="image/svg+xml"
                                        data="../images/12.svg">
                                        <img src="../images/12.svg">
                                    </object>
                                    <span>Пробиотики и пребиотики</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form action="/" class="search">
                        <button class="search__btn">
                            <object
                                type="image/svg+xml"
                                data="../images/search.svg">
                                <img src="../images/search.svg">
                            </object>
                        </button>
                        <input type="text" placeholder="Поиск" name="search" class="search__input">
                    </form>
                    @@include('elements/phone.html')
                    <a href="#" class="cart">
                        <div class="cart__icon">
                            <object
                                type="image/svg+xml"
                                data="../images/cart.svg">
                                <img src="../images/cart.svg">
                            </object>
                            <span>2</span>
                        </div>
                        <span>Корзина</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>

</header>