<ul class="wrapper privelege">
    <li class="privelege_item">
        <div class="privelege_img">
            <object
                type="image/svg+xml"
                data="../images/shield.svg">
                <img src="../images/shield.svg">
            </object>
        </div>
        <div class="privelege_content">
            <h3>
                Гарантия качества
            </h3>
            <p>
                Мы используем только <br> качественные материалы
            </p>
        </div>
    </li>
    <li class="privelege_item">
        <div class="privelege_img">
            <object
                type="image/svg+xml"
                data="../images/delivery.svg">
                <img src="../images/delivery.svg">
            </object>
        </div>
        <div class="privelege_content">
            <h3>
                Быстрая доставка
            </h3>
            <p>
                Быстрая доставка товара в <br> кратчайшие сроки в любой регион
            </p>
        </div>
    </li>
    <li class="privelege_item">
        <div class="privelege_img">
            <object
                type="image/svg+xml"
                data="../images/individual.svg">
                <img src="../images/individual.svg">
            </object>
        </div>
        <div class="privelege_content">
            <h3>
                Индивидуальный подход
            </h3>
            <p>
                У нас индивидуальный подход <br> к каждому клиенту
            </p>
        </div>
    </li>
    <li class="privelege_item">
        <div class="privelege_img">
            <object
                type="image/svg+xml"
                data="../images/exp.svg">
                <img src="../images/exp.svg">
            </object>
        </div>
        <div class="privelege_content">
            <h3>
                Большой опыт работы
            </h3>
            <p>
                Нам доверяют большие <br> компании
            </p>
        </div>
    </li>
</ul>