<div class="sidebar">
    <ul class="sidebar__menu">
        <li>
            <a href="#">
                <object
                    type="image/svg+xml"
                    data="../images/sheet.svg">
                    <img src="../images/sheet.svg">
                </object>
                <span>
                    Моноингридиенты
                </span>
            </a>                
            <ul class="sidebar__submenu">
                <li>
                    <a href="">
                        Камеди
                    </a>
                </li>    
                <li>
                    <a href="">
                        Каррагинаны
                    </a>
                </li>    
                <li>
                    <a href="">
                        Альгинат натрия
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                    </a>
                </li>    
                <li>
                    <a href="">
                        Эмульгаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Пектины
                        @@include('elements/flag.html', {
                            name: 'New'
                        })
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ферменты
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ароматизаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Клетчатка
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                        </a>
                    </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <object
                    type="image/svg+xml"
                    data="../images/sheet.svg">
                    <img src="../images/sheet.svg">
                </object>
                <span>
                    Функциональные смеси
                </span>
            </a>
            <ul class="sidebar__submenu">
                <li>
                    <a href="">
                        Камеди
                    </a>
                </li>    
                <li>
                    <a href="">
                        Каррагинаны
                    </a>
                </li>    
                <li>
                    <a href="">
                        Альгинат натрия
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                    </a>
                </li>    
                <li>
                    <a href="">
                        Эмульгаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Пектины
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ферменты
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ароматизаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Клетчатка
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                        </a>
                    </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <object
                    type="image/svg+xml"
                    data="../images/sheet.svg">
                    <img src="../images/sheet.svg">
                </object>
                <span>
                    Закваски, бактериальные культуры dvs
                </span>
            </a>
            <ul class="sidebar__submenu">
                <li>
                    <a href="">
                        Камеди
                    </a>
                </li>    
                <li>
                    <a href="">
                        Каррагинаны
                    </a>
                </li>    
                <li>
                    <a href="">
                        Альгинат натрия
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                    </a>
                </li>    
                <li>
                    <a href="">
                        Эмульгаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Пектины
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ферменты
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ароматизаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Клетчатка
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                        </a>
                    </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <object
                    type="image/svg+xml"
                    data="../images/sheet.svg">
                    <img src="../images/sheet.svg">
                </object>
                <span>
                    Тесты
                </span>
            </a>
            <ul class="sidebar__submenu">
                <li>
                    <a href="">
                        Камеди
                    </a>
                </li>    
                <li>
                    <a href="">
                        Каррагинаны
                    </a>
                </li>    
                <li>
                    <a href="">
                        Альгинат натрия
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                    </a>
                </li>    
                <li>
                    <a href="">
                        Эмульгаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Пектины
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ферменты
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ароматизаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Клетчатка
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                        </a>
                    </li>
            </ul>
        </li>
        <li>
            <a href="">
                Весь каталог
            </a>
            <ul class="sidebar__submenu">
                <li>
                    <a href="">

                        Камеди
                    </a>
                </li>    
                <li>
                    <a href="">
                        Каррагинаны
                    </a>
                </li>    
                <li>
                    <a href="">
                        Альгинат натрия
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                    </a>
                </li>    
                <li>
                    <a href="">
                        Эмульгаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Пектины
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ферменты
                    </a>
                </li>    
                <li>
                    <a href="">
                        Ароматизаторы
                    </a>
                </li>    
                <li>
                    <a href="">
                        Красители натуральные
                    </a>
                </li>    
                <li>
                    <a href="">
                        Клетчатка
                    </a>
                </li>    
                <li>
                    <a href="">
                        Карбоксиметилцеллюлоза
                    </a>
                </li>    
                <li>
                    <a href="">
                        Глянцеватели
                        </a>
                    </li>
            </ul>
        </li>
    </ul>
</div>