<div class="slider">
    <ul class="main__slider">
        <li class="main__slider_item active blur">
            <img src="../img/banner.jpg" alt="">
            <div class="main__slider_content">
                <div>
                    <h1 class="main__slider_content-title">
                        Сентябрьские <br> скидки
                    </h1>
                    <p class="main__slider_content-desc">
                        Только до 31 сентября на <br> тесты Beta Star
                    </p>
                    <a href="#" class="main__slider_content-link">
                        Подробнее
                        <object
                            type="image/svg+xml"
                            data="../img/arrow.svg">
                            <img src="../img/arrow.svg">
                        </object>
                    </a>
                </div>
                <span class="main__slider_sale">20<span>%</span></span>
            </div> 
        </li>
        <li class="main__slider_item">
            <img src="../img/banner.jpg" alt="">
        </li>
        <li class="main__slider_item">
            <img src="../img/banner.jpg" alt="">
        </li>
        <li class="main__slider_item">
            <img src="../img/banner.jpg" alt="">
        </li>
    </ul>
    <ul class="slider__mount">
        <li>
            <img src="../img/autumn.png" alt="">

        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="slider__dots">
        <div class="dots">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="wave"></div>
    </div>
</div>